In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [10]:
Total_Accidents = pd.read_csv("Total Accidents V3.csv")
Total_Accidents.dropna(inplace=True)
Total_Accidents.head()

,State,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Alabama,120,173,138,118,114,87,70,83,70,...,73,71,62,71,79,46,70,66,101,96
1,Alaska,91,90,99,77,68,64,42,48,52,...,20,23,18,18,25,26,15,22,14,22
2,Arizona,327,321,239,302,331,222,217,188,174,...,158,99,95,87,97,90,123,129,96,162
3,Arkansas,92,111,115,91,87,75,74,50,55,...,55,68,56,54,49,47,64,60,37,75
4,California,849,920,770,894,900,771,745,797,603,...,399,365,426,379,369,386,350,322,324,493

In [9]:
Fatalities = pd.read_csv("Fatalities V3.csv")
Fatalities.dropna(inplace=True)
Fatalities.head()

,State,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Alabama,24,25,32,17,11,17,12,15,20,...,19,17,10,13,21,14,21,17,28,19
1,Alaska,14,23,38,26,18,21,16,21,16,...,15,22,10,11,7,19,20,22,11,24
2,Arizona,8,8,14,9,12,7,8,7,11,...,11,4,9,7,6,5,13,11,7,10
3,Arkansas,20,15,20,15,10,13,24,6,8,...,15,8,15,8,9,10,11,7,10,13
4,California,56,42,56,42,49,48,53,61,43,...,52,49,37,38,48,47,50,34,39,39

In [8]:
Fatal_Accidents = pd.read_csv("Fatal Accidents V3.csv")
Fatal_Accidents.dropna(inplace=True)
Fatal_Accidents.head()

,State,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Alabama,21,24,27,17,11,16,12,15,17,...,14,16,10,12,17,12,18,13,25,12
1,Alaska,13,19,24,21,16,20,14,16,14,...,13,15,7,10,7,14,13,17,8,15
2,Arizona,7,7,10,7,9,7,8,5,10,...,10,3,9,7,6,5,11,6,7,7
3,Arkansas,19,14,18,14,9,12,20,6,5,...,13,8,13,7,9,9,11,7,10,13
4,California,48,41,45,36,40,43,46,56,35,...,47,37,34,29,41,43,49,33,37,37

In [7]:
Alcohol_Fatal = pd.read_csv("Alcohol by State and Year V3.csv")
Alcohol_Fatal.dropna(inplace=True)
Alcohol_Fatal.head()

,State,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Alabama,2.0,5.0,7.0,2.0,2.0,1.0,5.0,5.0,9.0,...,6.0,1.0,4.0,5.0,5.0,1.0,1.0,10.0,1.0,6.0
1,Alaska,4.0,7.0,9.0,3.0,4.0,8.0,8.0,8.0,5.0,...,8.0,2.0,4.0,3.0,3.0,6.0,2.0,7.0,8.0,2.0
2,Arizona,5.0,5.0,6.0,2.0,5.0,4.0,3.0,2.0,5.0,...,0.0,3.0,2.0,1.0,2.0,2.0,1.0,0.0,1.0,2.0
3,Arkansas,8.0,4.0,2.0,2.0,3.0,5.0,8.0,2.0,1.0,...,4.0,2.0,2.0,2.0,2.0,3.0,2.0,4.0,0.0,0.0
4,California,15.0,9.0,12.0,12.0,15.0,17.0,24.0,25.0,27.0,...,3.0,6.0,2.0,5.0,3.0,3.0,4.0,5.0,6.0,10.0