In [30]:
# Starting plane crash jupyter notebook and 
# import dependences

import pandas as pd
import numpy as np
import csv

In [31]:
# start with reading csv file
plane =  pd.read_csv("Airplane_Crashes.csv")

plane

,DATE,TIME,LOCATION,OPERATOR,FLIGHT#,ROUTE,AIRCRAFT_TYPE,AIRCRAFT_REG,CN_LN,TOTAL_ONBOARD,PASSENGER_ONBOARD,CREW_ONBOARD,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES,GROUND_CASUALTIES,SUMMARY_OF_EVENTS
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army Air Forces,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",Unknown,NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,07/12/1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,11/24/2019,NaN,"Goma, Democratic Republic of Congo",Busy Bee Congo,NaN,NaN,Dornier 228-201,9S-GNH,NaN,19.0,17.0,2.0,19.0,17.0,2.0,10.0,The passenger plane crashed about a minute aft...
4971,12/27/2019,07:22,"Almaty, Kazakhstan",Bek Air,Z92100,Almaty - Nursultan Nazabavev,Fokker 100,UP-F100,11496,98.0,95.0,3.0,13.0,NaN,NaN,7.0,"While taking off, the tail of the plane struck..."
4972,01/02/2020,NaN,"Geneina, Sudan",Military - Sudanese Air Force,NaN,NaN,Antonov An12-A,NaN,NaN,18.0,9.0,9.0,18.0,9.0,9.0,0.0,The aircraft crashed shortly after taking off ...
4973,01/08/2020,NaN,"Near Shahriah, Iran",Ukraine International Airlines,PS752,Tehran - Kiev,Boeing 737-8KV WL,UR-PSR,38124/5977,176.0,167.0,9.0,176.0,167.0,9.0,0.0,The plane took off from Tehran International A...
4974,02/05/2020,NaN,"Istanbul, Turkey",Pegasus Airlines,PC2193,Izmir - Istanbul,Boeing 737-86J,TC-IZK,37742,183.0,177.0,6.0,183.0,177.0,6.0,0.0,While landing duriing high winds and heavey ra...

In [32]:
contain_date = plane[plane['DATE'].str.contains('1991')]
contain_date.head()

,DATE,TIME,LOCATION,OPERATOR,FLIGHT#,ROUTE,AIRCRAFT_TYPE,AIRCRAFT_REG,CN_LN,TOTAL_ONBOARD,PASSENGER_ONBOARD,CREW_ONBOARD,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES,GROUND_CASUALTIES,SUMMARY_OF_EVENTS
3660,01/10/1991,18:00,"Near Paramo Mucuti, Venezuela",Military - Venezuelan Navy,NaN,Caracas - Merida,CASA 212 Aviocar 200,ARV-0209,264,22.0,19.0,3.0,21.0,18.0,3.0,0.0,"Crashed into Paramo Mucuti Mountain, 35 miles ..."
3661,01/30/1991,13:00,"Jalaludin, Indonesia",Merpati Nusantara Airlines,NaN,Manado - Gorontalo,CASA 212 Aviocar 200,PK-NCY,258/78N,21.0,18.0,3.0,1.0,1.0,0.0,0.0,The plane made a forced landing during poor we...
3662,01/31/1991,NaN,"Near Ras Al Khafji, Saudi Arabia",Military - U.S. Air Force,NaN,NaN,Lockheed AC-130H Hercules,69-6567,4341,14.0,0.0,14.0,14.0,0.0,14.0,0.0,Shot down by a surface-to-air missile during o...
3663,02/01/1991,18:07,"LAX, Los Angeles, California",USAir / Skywest Airlines,1493/5569,Columbus - Los Angeles \ Los Angeles - Fresno,Boeing B-737-300 / Swearingen SA-227AC,N388US/N683AV,23310/1145 / AC-683,101.0,93.0,8.0,34.0,30.0,4.0,0.0,The Skywest Metroliner was told to taxi into p...
3664,02/05/1991,12:51,"Near Nea Ankhialos, Greece",Military - Hellenic Air Force,NaN,Elefsis AB - Volos-Néa Anchialos,Lockheed C-130H,748,4724,63.0,59.0,4.0,63.0,59.0,4.0,0.0,The aircraft flew into the summit of Mt. .Othr...

In [33]:
plane.dtypes

DATE                     object
TIME                     object
LOCATION                 object
OPERATOR                 object
FLIGHT#                  object
ROUTE                    object
AIRCRAFT_TYPE            object
AIRCRAFT_REG             object
CN_LN                    object
TOTAL_ONBOARD           float64
PASSENGER_ONBOARD       float64
CREW_ONBOARD            float64
TOTAL_FATALITIES        float64
PASSENGER_FATALITIES    float64
CREW_FATALITIES         float64
GROUND_CASUALTIES       float64
SUMMARY_OF_EVENTS        object
dtype: object

In [35]:
# Remove unnecessary columns
del plane["AIRCRAFT_REG"]
del plane["CN_LN"]
del plane["FLIGHT#"]
plane

,DATE,TIME,LOCATION,OPERATOR,ROUTE,AIRCRAFT_TYPE,TOTAL_ONBOARD,PASSENGER_ONBOARD,CREW_ONBOARD,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES,GROUND_CASUALTIES,SUMMARY_OF_EVENTS
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army Air Forces,Demonstration,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",Unknown,Air show,Wright Byplane,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,07/12/1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,Zeppelin L-1 (airship),20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,11/24/2019,NaN,"Goma, Democratic Republic of Congo",Busy Bee Congo,NaN,Dornier 228-201,19.0,17.0,2.0,19.0,17.0,2.0,10.0,The passenger plane crashed about a minute aft...
4971,12/27/2019,07:22,"Almaty, Kazakhstan",Bek Air,Almaty - Nursultan Nazabavev,Fokker 100,98.0,95.0,3.0,13.0,NaN,NaN,7.0,"While taking off, the tail of the plane struck..."
4972,01/02/2020,NaN,"Geneina, Sudan",Military - Sudanese Air Force,NaN,Antonov An12-A,18.0,9.0,9.0,18.0,9.0,9.0,0.0,The aircraft crashed shortly after taking off ...
4973,01/08/2020,NaN,"Near Shahriah, Iran",Ukraine International Airlines,Tehran - Kiev,Boeing 737-8KV WL,176.0,167.0,9.0,176.0,167.0,9.0,0.0,The plane took off from Tehran International A...
4974,02/05/2020,NaN,"Istanbul, Turkey",Pegasus Airlines,Izmir - Istanbul,Boeing 737-86J,183.0,177.0,6.0,183.0,177.0,6.0,0.0,While landing duriing high winds and heavey ra...

In [36]:
# need to drop dates before 1991 but can't using current format---using datetime
plane["DATE"]= pd.to_datetime(plane["DATE"])

# '01/10/1991' tenth of Jan ----checked 1991 data 
start_date = '1991-01-10'

# end_date = '02/05/2020' Don't need an end date
plane_1991_2021 = plane[(plane['DATE'] >= start_date)]

plane_1991_2021

,DATE,TIME,LOCATION,OPERATOR,ROUTE,AIRCRAFT_TYPE,TOTAL_ONBOARD,PASSENGER_ONBOARD,CREW_ONBOARD,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES,GROUND_CASUALTIES,SUMMARY_OF_EVENTS
3660,1991-01-10,18:00,"Near Paramo Mucuti, Venezuela",Military - Venezuelan Navy,Caracas - Merida,CASA 212 Aviocar 200,22.0,19.0,3.0,21.0,18.0,3.0,0.0,"Crashed into Paramo Mucuti Mountain, 35 miles ..."
3661,1991-01-30,13:00,"Jalaludin, Indonesia",Merpati Nusantara Airlines,Manado - Gorontalo,CASA 212 Aviocar 200,21.0,18.0,3.0,1.0,1.0,0.0,0.0,The plane made a forced landing during poor we...
3662,1991-01-31,NaN,"Near Ras Al Khafji, Saudi Arabia",Military - U.S. Air Force,NaN,Lockheed AC-130H Hercules,14.0,0.0,14.0,14.0,0.0,14.0,0.0,Shot down by a surface-to-air missile during o...
3663,1991-02-01,18:07,"LAX, Los Angeles, California",USAir / Skywest Airlines,Columbus - Los Angeles \ Los Angeles - Fresno,Boeing B-737-300 / Swearingen SA-227AC,101.0,93.0,8.0,34.0,30.0,4.0,0.0,The Skywest Metroliner was told to taxi into p...
3664,1991-02-05,12:51,"Near Nea Ankhialos, Greece",Military - Hellenic Air Force,Elefsis AB - Volos-Néa Anchialos,Lockheed C-130H,63.0,59.0,4.0,63.0,59.0,4.0,0.0,The aircraft flew into the summit of Mt. .Othr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2019-11-24,NaN,"Goma, Democratic Republic of Congo",Busy Bee Congo,NaN,Dornier 228-201,19.0,17.0,2.0,19.0,17.0,2.0,10.0,The passenger plane crashed about a minute aft...
4971,2019-12-27,07:22,"Almaty, Kazakhstan",Bek Air,Almaty - Nursultan Nazabavev,Fokker 100,98.0,95.0,3.0,13.0,NaN,NaN,7.0,"While taking off, the tail of the plane struck..."
4972,2020-01-02,NaN,"Geneina, Sudan",Military - Sudanese Air Force,NaN,Antonov An12-A,18.0,9.0,9.0,18.0,9.0,9.0,0.0,The aircraft crashed shortly after taking off ...
4973,2020-01-08,NaN,"Near Shahriah, Iran",Ukraine International Airlines,Tehran - Kiev,Boeing 737-8KV WL,176.0,167.0,9.0,176.0,167.0,9.0,0.0,The plane took off from Tehran International A...
4974,2020-02-05,NaN,"Istanbul, Turkey",Pegasus Airlines,Izmir - Istanbul,Boeing 737-86J,183.0,177.0,6.0,183.0,177.0,6.0,0.0,While landing duriing high winds and heavey ra...

In [42]:
# Lets take a look at the data in the Military and see if we want to analise it separately.
military = plane_1991_2021[plane_1991_2021['OPERATOR'].str.contains('Military')]
military.head()

,DATE,TIME,LOCATION,OPERATOR,ROUTE,AIRCRAFT_TYPE,TOTAL_ONBOARD,PASSENGER_ONBOARD,CREW_ONBOARD,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES,GROUND_CASUALTIES,SUMMARY_OF_EVENTS
3660,1991-01-10,18:00,"Near Paramo Mucuti, Venezuela",Military - Venezuelan Navy,Caracas - Merida,CASA 212 Aviocar 200,22.0,19.0,3.0,21.0,18.0,3.0,0.0,"Crashed into Paramo Mucuti Mountain, 35 miles ..."
3662,1991-01-31,NaN,"Near Ras Al Khafji, Saudi Arabia",Military - U.S. Air Force,NaN,Lockheed AC-130H Hercules,14.0,0.0,14.0,14.0,0.0,14.0,0.0,Shot down by a surface-to-air missile during o...
3664,1991-02-05,12:51,"Near Nea Ankhialos, Greece",Military - Hellenic Air Force,Elefsis AB - Volos-Néa Anchialos,Lockheed C-130H,63.0,59.0,4.0,63.0,59.0,4.0,0.0,The aircraft flew into the summit of Mt. .Othr...
3665,1991-02-14,NaN,"Near Taisha, Ecuador",Military - Ecuador Air Force,Macao - Taisha,De Havilland Canada DHC-6 Twin Otter 300,22.0,19.0,3.0,22.0,19.0,3.0,0.0,Crashed into the side of Mt. Paso Macunaa at 5...
3668,1991-02-22,NaN,"Cazombo, Angola",Military - Angolan Air Force,Luena-Cazombo,Antonov AN-26,47.0,43.0,4.0,47.0,43.0,4.0,0.0,Shot down by surface-to-air missile launced by...

In [43]:
# df[df[“column_name”].str.contains(“string”)==False] method to drop strings with military
non_military = plane_1991_2021[plane_1991_2021['OPERATOR'].str.contains('Military')==False]
non_military

,DATE,TIME,LOCATION,OPERATOR,ROUTE,AIRCRAFT_TYPE,TOTAL_ONBOARD,PASSENGER_ONBOARD,CREW_ONBOARD,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES,GROUND_CASUALTIES,SUMMARY_OF_EVENTS
3661,1991-01-30,13:00,"Jalaludin, Indonesia",Merpati Nusantara Airlines,Manado - Gorontalo,CASA 212 Aviocar 200,21.0,18.0,3.0,1.0,1.0,0.0,0.0,The plane made a forced landing during poor we...
3663,1991-02-01,18:07,"LAX, Los Angeles, California",USAir / Skywest Airlines,Columbus - Los Angeles \ Los Angeles - Fresno,Boeing B-737-300 / Swearingen SA-227AC,101.0,93.0,8.0,34.0,30.0,4.0,0.0,The Skywest Metroliner was told to taxi into p...
3666,1991-02-17,00:20,"Cleveland, Ohio",Ryan International Airlines,Cleveland - Indianapolis,McDonnell Douglas DC-9-15RC,2.0,0.0,2.0,2.0,0.0,2.0,0.0,The cargo plane stalled during takeoff cart wh...
3667,1991-02-20,15:24,"Puerto Williams, Chile",LAN,Punta Arenas - Puerto Williams,British Aerospace BAE-146-200A,72.0,65.0,7.0,20.0,20.0,0.0,0.0,The plane overran the runway on approach and s...
3669,1991-03-03,09:44,"Near Colorado Springs, Colorado",United Air Lines,Denver - Colorado Springs,Boeing B-737-291,25.0,20.0,5.0,25.0,20.0,5.0,0.0,"While on final approach to Colorado Springs, t..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4969,2019-10-04,NaN,"Lviv, Ukraine",Ukraine Air Alliance,Spain – Turkey,Antonov An-12BK,8.0,1.0,7.0,5.0,1.0,4.0,0.0,"The chartered cargo plane, planning to stop fo..."
4970,2019-11-24,NaN,"Goma, Democratic Republic of Congo",Busy Bee Congo,NaN,Dornier 228-201,19.0,17.0,2.0,19.0,17.0,2.0,10.0,The passenger plane crashed about a minute aft...
4971,2019-12-27,07:22,"Almaty, Kazakhstan",Bek Air,Almaty - Nursultan Nazabavev,Fokker 100,98.0,95.0,3.0,13.0,NaN,NaN,7.0,"While taking off, the tail of the plane struck..."
4973,2020-01-08,NaN,"Near Shahriah, Iran",Ukraine International Airlines,Tehran - Kiev,Boeing 737-8KV WL,176.0,167.0,9.0,176.0,167.0,9.0,0.0,The plane took off from Tehran International A...
4974,2020-02-05,NaN,"Istanbul, Turkey",Pegasus Airlines,Izmir - Istanbul,Boeing 737-86J,183.0,177.0,6.0,183.0,177.0,6.0,0.0,While landing duriing high winds and heavey ra...

In [ ]:
# 1. Is transport becoming safer?
# 1. Graph the total number of crashes per year with respect to time to see if the industry has become safer for commercial travel

In [44]:
# 2.  What vehicles are you most likely to survive if there is one fatality or more?
# find the number of plane crashes with one fatality or more
fatlaities_abovezero = plane_1991_2021[plane_1991_2021['TOTAL_FATALITIES'] >= 1 ]
fatlaities_abovezero

,DATE,TIME,LOCATION,OPERATOR,ROUTE,AIRCRAFT_TYPE,TOTAL_ONBOARD,PASSENGER_ONBOARD,CREW_ONBOARD,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES,GROUND_CASUALTIES,SUMMARY_OF_EVENTS
3660,1991-01-10,18:00,"Near Paramo Mucuti, Venezuela",Military - Venezuelan Navy,Caracas - Merida,CASA 212 Aviocar 200,22.0,19.0,3.0,21.0,18.0,3.0,0.0,"Crashed into Paramo Mucuti Mountain, 35 miles ..."
3661,1991-01-30,13:00,"Jalaludin, Indonesia",Merpati Nusantara Airlines,Manado - Gorontalo,CASA 212 Aviocar 200,21.0,18.0,3.0,1.0,1.0,0.0,0.0,The plane made a forced landing during poor we...
3662,1991-01-31,NaN,"Near Ras Al Khafji, Saudi Arabia",Military - U.S. Air Force,NaN,Lockheed AC-130H Hercules,14.0,0.0,14.0,14.0,0.0,14.0,0.0,Shot down by a surface-to-air missile during o...
3663,1991-02-01,18:07,"LAX, Los Angeles, California",USAir / Skywest Airlines,Columbus - Los Angeles \ Los Angeles - Fresno,Boeing B-737-300 / Swearingen SA-227AC,101.0,93.0,8.0,34.0,30.0,4.0,0.0,The Skywest Metroliner was told to taxi into p...
3664,1991-02-05,12:51,"Near Nea Ankhialos, Greece",Military - Hellenic Air Force,Elefsis AB - Volos-Néa Anchialos,Lockheed C-130H,63.0,59.0,4.0,63.0,59.0,4.0,0.0,The aircraft flew into the summit of Mt. .Othr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2019-11-24,NaN,"Goma, Democratic Republic of Congo",Busy Bee Congo,NaN,Dornier 228-201,19.0,17.0,2.0,19.0,17.0,2.0,10.0,The passenger plane crashed about a minute aft...
4971,2019-12-27,07:22,"Almaty, Kazakhstan",Bek Air,Almaty - Nursultan Nazabavev,Fokker 100,98.0,95.0,3.0,13.0,NaN,NaN,7.0,"While taking off, the tail of the plane struck..."
4972,2020-01-02,NaN,"Geneina, Sudan",Military - Sudanese Air Force,NaN,Antonov An12-A,18.0,9.0,9.0,18.0,9.0,9.0,0.0,The aircraft crashed shortly after taking off ...
4973,2020-01-08,NaN,"Near Shahriah, Iran",Ukraine International Airlines,Tehran - Kiev,Boeing 737-8KV WL,176.0,167.0,9.0,176.0,167.0,9.0,0.0,The plane took off from Tehran International A...
4974,2020-02-05,NaN,"Istanbul, Turkey",Pegasus Airlines,Izmir - Istanbul,Boeing 737-86J,183.0,177.0,6.0,183.0,177.0,6.0,0.0,While landing duriing high winds and heavey ra...

In [60]:
# lets look at the chance of surviving a plane crash

mean_death = non_military["TOTAL_FATALITIES"].mean()
mean_total_onboard = non_military["TOTAL_ONBOARD"].mean()
mean_death, mean_total_onboard

percent_survive= round((100*(1 -mean_death/mean_total_onboard)), 2)
percent_survive

36.28