In [96]:
# Starting plane crash jupyter notebook and 
# import dependences

import pandas as pd
import numpy as np
import csv

In [97]:
# start with reading csv file
plane =  pd.read_csv("Airplane_Crashes.csv")

plane

plane[plane['DATE'].str.contains('1991')]

,DATE,TIME,LOCATION,OPERATOR,FLIGHT#,ROUTE,AIRCRAFT_TYPE,AIRCRAFT_REG,CN_LN,TOTAL_ONBOARD,PASSENGER_ONBOARD,CREW_ONBOARD,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES,GROUND_CASUALTIES,SUMMARY_OF_EVENTS
3660,01/10/1991,18:00,"Near Paramo Mucuti, Venezuela",Military - Venezuelan Navy,NaN,Caracas - Merida,CASA 212 Aviocar 200,ARV-0209,264,22.0,19.0,3.0,21.0,18.0,3.0,0.0,"Crashed into Paramo Mucuti Mountain, 35 miles ..."
3661,01/30/1991,13:00,"Jalaludin, Indonesia",Merpati Nusantara Airlines,NaN,Manado - Gorontalo,CASA 212 Aviocar 200,PK-NCY,258/78N,21.0,18.0,3.0,1.0,1.0,0.0,0.0,The plane made a forced landing during poor we...
3662,01/31/1991,NaN,"Near Ras Al Khafji, Saudi Arabia",Military - U.S. Air Force,NaN,NaN,Lockheed AC-130H Hercules,69-6567,4341,14.0,0.0,14.0,14.0,0.0,14.0,0.0,Shot down by a surface-to-air missile during o...
3663,02/01/1991,18:07,"LAX, Los Angeles, California",USAir / Skywest Airlines,1493/5569,Columbus - Los Angeles \ Los Angeles - Fresno,Boeing B-737-300 / Swearingen SA-227AC,N388US/N683AV,23310/1145 / AC-683,101.0,93.0,8.0,34.0,30.0,4.0,0.0,The Skywest Metroliner was told to taxi into p...
3664,02/05/1991,12:51,"Near Nea Ankhialos, Greece",Military - Hellenic Air Force,NaN,Elefsis AB - Volos-Néa Anchialos,Lockheed C-130H,748,4724,63.0,59.0,4.0,63.0,59.0,4.0,0.0,The aircraft flew into the summit of Mt. .Othr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3724,11/26/1991,05:02,"Near Bugulma, Russia",Tartarstan Airlines,NaN,Nizhnevartovsk - Bugulma,Antonov AN-24,CCCP-47823,17307204,41.0,37.0,4.0,41.0,37.0,4.0,0.0,"While on approach to Bugulma, the plane yawed ..."
3725,11/29/1991,08:15,"Guaratingueta AB, Brazil",Military - Força Aerea Brasileira,NaN,Brasilla - Guarantinguerta,Embraer C-95C Bandeirante,FAB2333,110473,16.0,13.0,3.0,16.0,13.0,3.0,0.0,Flew into the side of a hill towards the end o...
3726,12/22/1991,11:37,"Heidelberg, Germany",Classic Wings,NaN,Frankfurt - Frankfurt,Douglas DC-3A,D-CCCC,7353,30.0,27.0,3.0,27.0,24.0,3.0,0.0,"The sightseeing tour struck a hill at 2,000 ft..."
3727,12/27/1991,08:51,"Stockholm, Sweden",Scandinavian Airlines (SAS),751,Stockholm-Copenhagen-Warsaw,McDonnell Douglas MD-81,OY-KHO,53003/1844,129.0,123.0,6.0,0.0,0.0,0.0,0.0,"The aircraft reached an altitude of 3,000 feet..."
3728,12/29/1991,15:05,"Wanli, Taiwan",China Airlines (Taiwan),358,Taipei - Anchorage,Boeing B-747-2R7F,B-198,22390,5.0,0.0,5.0,5.0,0.0,5.0,0.0,The cargo plane crashed on takeoff after losi...

In [98]:
contain_date = plane[plane['DATE'].str.contains('1991')]
contain_date.head()

,DATE,TIME,LOCATION,OPERATOR,FLIGHT#,ROUTE,AIRCRAFT_TYPE,AIRCRAFT_REG,CN_LN,TOTAL_ONBOARD,PASSENGER_ONBOARD,CREW_ONBOARD,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES,GROUND_CASUALTIES,SUMMARY_OF_EVENTS
3660,01/10/1991,18:00,"Near Paramo Mucuti, Venezuela",Military - Venezuelan Navy,NaN,Caracas - Merida,CASA 212 Aviocar 200,ARV-0209,264,22.0,19.0,3.0,21.0,18.0,3.0,0.0,"Crashed into Paramo Mucuti Mountain, 35 miles ..."
3661,01/30/1991,13:00,"Jalaludin, Indonesia",Merpati Nusantara Airlines,NaN,Manado - Gorontalo,CASA 212 Aviocar 200,PK-NCY,258/78N,21.0,18.0,3.0,1.0,1.0,0.0,0.0,The plane made a forced landing during poor we...
3662,01/31/1991,NaN,"Near Ras Al Khafji, Saudi Arabia",Military - U.S. Air Force,NaN,NaN,Lockheed AC-130H Hercules,69-6567,4341,14.0,0.0,14.0,14.0,0.0,14.0,0.0,Shot down by a surface-to-air missile during o...
3663,02/01/1991,18:07,"LAX, Los Angeles, California",USAir / Skywest Airlines,1493/5569,Columbus - Los Angeles \ Los Angeles - Fresno,Boeing B-737-300 / Swearingen SA-227AC,N388US/N683AV,23310/1145 / AC-683,101.0,93.0,8.0,34.0,30.0,4.0,0.0,The Skywest Metroliner was told to taxi into p...
3664,02/05/1991,12:51,"Near Nea Ankhialos, Greece",Military - Hellenic Air Force,NaN,Elefsis AB - Volos-Néa Anchialos,Lockheed C-130H,748,4724,63.0,59.0,4.0,63.0,59.0,4.0,0.0,The aircraft flew into the summit of Mt. .Othr...

In [99]:
plane.dtypes

DATE                     object
TIME                     object
LOCATION                 object
OPERATOR                 object
FLIGHT#                  object
ROUTE                    object
AIRCRAFT_TYPE            object
AIRCRAFT_REG             object
CN_LN                    object
TOTAL_ONBOARD           float64
PASSENGER_ONBOARD       float64
CREW_ONBOARD            float64
TOTAL_FATALITIES        float64
PASSENGER_FATALITIES    float64
CREW_FATALITIES         float64
GROUND_CASUALTIES       float64
SUMMARY_OF_EVENTS        object
dtype: object

In [100]:
# Remove unnecessary columns
del plane["AIRCRAFT_REG"]
del plane["CN_LN"]
del plane["FLIGHT#"]
plane

,DATE,TIME,LOCATION,OPERATOR,ROUTE,AIRCRAFT_TYPE,TOTAL_ONBOARD,PASSENGER_ONBOARD,CREW_ONBOARD,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES,GROUND_CASUALTIES,SUMMARY_OF_EVENTS
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army Air Forces,Demonstration,Wright Flyer III,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",Unknown,Air show,Wright Byplane,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,07/12/1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,Test flight,Dirigible,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,Curtiss seaplane,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,Zeppelin L-1 (airship),20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,11/24/2019,NaN,"Goma, Democratic Republic of Congo",Busy Bee Congo,NaN,Dornier 228-201,19.0,17.0,2.0,19.0,17.0,2.0,10.0,The passenger plane crashed about a minute aft...
4971,12/27/2019,07:22,"Almaty, Kazakhstan",Bek Air,Almaty - Nursultan Nazabavev,Fokker 100,98.0,95.0,3.0,13.0,NaN,NaN,7.0,"While taking off, the tail of the plane struck..."
4972,01/02/2020,NaN,"Geneina, Sudan",Military - Sudanese Air Force,NaN,Antonov An12-A,18.0,9.0,9.0,18.0,9.0,9.0,0.0,The aircraft crashed shortly after taking off ...
4973,01/08/2020,NaN,"Near Shahriah, Iran",Ukraine International Airlines,Tehran - Kiev,Boeing 737-8KV WL,176.0,167.0,9.0,176.0,167.0,9.0,0.0,The plane took off from Tehran International A...
4974,02/05/2020,NaN,"Istanbul, Turkey",Pegasus Airlines,Izmir - Istanbul,Boeing 737-86J,183.0,177.0,6.0,183.0,177.0,6.0,0.0,While landing duriing high winds and heavey ra...

In [101]:
# need to drop dates before 1991 but can't using current format---using datetime
plane["DATE"]= pd.to_datetime(plane["DATE"])

# '01/10/1991' tenth of Jan ----checked 1991 data 
start_date = '1991-01-10'

# end_date = '02/05/2020' Don't need an end date
plane_1991_2021 = plane[(plane['DATE'] >= start_date)]

plane_1991_2021

,DATE,TIME,LOCATION,OPERATOR,ROUTE,AIRCRAFT_TYPE,TOTAL_ONBOARD,PASSENGER_ONBOARD,CREW_ONBOARD,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES,GROUND_CASUALTIES,SUMMARY_OF_EVENTS
3660,1991-01-10,18:00,"Near Paramo Mucuti, Venezuela",Military - Venezuelan Navy,Caracas - Merida,CASA 212 Aviocar 200,22.0,19.0,3.0,21.0,18.0,3.0,0.0,"Crashed into Paramo Mucuti Mountain, 35 miles ..."
3661,1991-01-30,13:00,"Jalaludin, Indonesia",Merpati Nusantara Airlines,Manado - Gorontalo,CASA 212 Aviocar 200,21.0,18.0,3.0,1.0,1.0,0.0,0.0,The plane made a forced landing during poor we...
3662,1991-01-31,NaN,"Near Ras Al Khafji, Saudi Arabia",Military - U.S. Air Force,NaN,Lockheed AC-130H Hercules,14.0,0.0,14.0,14.0,0.0,14.0,0.0,Shot down by a surface-to-air missile during o...
3663,1991-02-01,18:07,"LAX, Los Angeles, California",USAir / Skywest Airlines,Columbus - Los Angeles \ Los Angeles - Fresno,Boeing B-737-300 / Swearingen SA-227AC,101.0,93.0,8.0,34.0,30.0,4.0,0.0,The Skywest Metroliner was told to taxi into p...
3664,1991-02-05,12:51,"Near Nea Ankhialos, Greece",Military - Hellenic Air Force,Elefsis AB - Volos-Néa Anchialos,Lockheed C-130H,63.0,59.0,4.0,63.0,59.0,4.0,0.0,The aircraft flew into the summit of Mt. .Othr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,2019-11-24,NaN,"Goma, Democratic Republic of Congo",Busy Bee Congo,NaN,Dornier 228-201,19.0,17.0,2.0,19.0,17.0,2.0,10.0,The passenger plane crashed about a minute aft...
4971,2019-12-27,07:22,"Almaty, Kazakhstan",Bek Air,Almaty - Nursultan Nazabavev,Fokker 100,98.0,95.0,3.0,13.0,NaN,NaN,7.0,"While taking off, the tail of the plane struck..."
4972,2020-01-02,NaN,"Geneina, Sudan",Military - Sudanese Air Force,NaN,Antonov An12-A,18.0,9.0,9.0,18.0,9.0,9.0,0.0,The aircraft crashed shortly after taking off ...
4973,2020-01-08,NaN,"Near Shahriah, Iran",Ukraine International Airlines,Tehran - Kiev,Boeing 737-8KV WL,176.0,167.0,9.0,176.0,167.0,9.0,0.0,The plane took off from Tehran International A...
4974,2020-02-05,NaN,"Istanbul, Turkey",Pegasus Airlines,Izmir - Istanbul,Boeing 737-86J,183.0,177.0,6.0,183.0,177.0,6.0,0.0,While landing duriing high winds and heavey ra...

In [102]:
# Lets take a look at the data in the Military and see if we want to analise it separately.
military = plane_1991_2021[plane_1991_2021['OPERATOR'].str.contains('Military')]
military.head()

,DATE,TIME,LOCATION,OPERATOR,ROUTE,AIRCRAFT_TYPE,TOTAL_ONBOARD,PASSENGER_ONBOARD,CREW_ONBOARD,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES,GROUND_CASUALTIES,SUMMARY_OF_EVENTS
3660,1991-01-10,18:00,"Near Paramo Mucuti, Venezuela",Military - Venezuelan Navy,Caracas - Merida,CASA 212 Aviocar 200,22.0,19.0,3.0,21.0,18.0,3.0,0.0,"Crashed into Paramo Mucuti Mountain, 35 miles ..."
3662,1991-01-31,NaN,"Near Ras Al Khafji, Saudi Arabia",Military - U.S. Air Force,NaN,Lockheed AC-130H Hercules,14.0,0.0,14.0,14.0,0.0,14.0,0.0,Shot down by a surface-to-air missile during o...
3664,1991-02-05,12:51,"Near Nea Ankhialos, Greece",Military - Hellenic Air Force,Elefsis AB - Volos-Néa Anchialos,Lockheed C-130H,63.0,59.0,4.0,63.0,59.0,4.0,0.0,The aircraft flew into the summit of Mt. .Othr...
3665,1991-02-14,NaN,"Near Taisha, Ecuador",Military - Ecuador Air Force,Macao - Taisha,De Havilland Canada DHC-6 Twin Otter 300,22.0,19.0,3.0,22.0,19.0,3.0,0.0,Crashed into the side of Mt. Paso Macunaa at 5...
3668,1991-02-22,NaN,"Cazombo, Angola",Military - Angolan Air Force,Luena-Cazombo,Antonov AN-26,47.0,43.0,4.0,47.0,43.0,4.0,0.0,Shot down by surface-to-air missile launced by...

In [103]:
# df[df[“column_name”].str.contains(“string”)==False] method to drop strings with military
non_military = plane_1991_2021[plane_1991_2021['OPERATOR'].str.contains('Military')==False]
non_military

,DATE,TIME,LOCATION,OPERATOR,ROUTE,AIRCRAFT_TYPE,TOTAL_ONBOARD,PASSENGER_ONBOARD,CREW_ONBOARD,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES,GROUND_CASUALTIES,SUMMARY_OF_EVENTS
3661,1991-01-30,13:00,"Jalaludin, Indonesia",Merpati Nusantara Airlines,Manado - Gorontalo,CASA 212 Aviocar 200,21.0,18.0,3.0,1.0,1.0,0.0,0.0,The plane made a forced landing during poor we...
3663,1991-02-01,18:07,"LAX, Los Angeles, California",USAir / Skywest Airlines,Columbus - Los Angeles \ Los Angeles - Fresno,Boeing B-737-300 / Swearingen SA-227AC,101.0,93.0,8.0,34.0,30.0,4.0,0.0,The Skywest Metroliner was told to taxi into p...
3666,1991-02-17,00:20,"Cleveland, Ohio",Ryan International Airlines,Cleveland - Indianapolis,McDonnell Douglas DC-9-15RC,2.0,0.0,2.0,2.0,0.0,2.0,0.0,The cargo plane stalled during takeoff cart wh...
3667,1991-02-20,15:24,"Puerto Williams, Chile",LAN,Punta Arenas - Puerto Williams,British Aerospace BAE-146-200A,72.0,65.0,7.0,20.0,20.0,0.0,0.0,The plane overran the runway on approach and s...
3669,1991-03-03,09:44,"Near Colorado Springs, Colorado",United Air Lines,Denver - Colorado Springs,Boeing B-737-291,25.0,20.0,5.0,25.0,20.0,5.0,0.0,"While on final approach to Colorado Springs, t..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4969,2019-10-04,NaN,"Lviv, Ukraine",Ukraine Air Alliance,Spain – Turkey,Antonov An-12BK,8.0,1.0,7.0,5.0,1.0,4.0,0.0,"The chartered cargo plane, planning to stop fo..."
4970,2019-11-24,NaN,"Goma, Democratic Republic of Congo",Busy Bee Congo,NaN,Dornier 228-201,19.0,17.0,2.0,19.0,17.0,2.0,10.0,The passenger plane crashed about a minute aft...
4971,2019-12-27,07:22,"Almaty, Kazakhstan",Bek Air,Almaty - Nursultan Nazabavev,Fokker 100,98.0,95.0,3.0,13.0,NaN,NaN,7.0,"While taking off, the tail of the plane struck..."
4973,2020-01-08,NaN,"Near Shahriah, Iran",Ukraine International Airlines,Tehran - Kiev,Boeing 737-8KV WL,176.0,167.0,9.0,176.0,167.0,9.0,0.0,The plane took off from Tehran International A...
4974,2020-02-05,NaN,"Istanbul, Turkey",Pegasus Airlines,Izmir - Istanbul,Boeing 737-86J,183.0,177.0,6.0,183.0,177.0,6.0,0.0,While landing duriing high winds and heavey ra...

In [ ]:
# 1. Is transport becoming safer?
# 1. Graph the total number of crashes per year with respect to time to see if the industry has become safer for commercial travel
import pandas as pd
import matplotlib.pyplot as plt

date_time = non_military["DATE"]
date_time = pd.to_datetime(date_time)
                                               # plane[plane['DATE'].str.contains('1991')]
start_date = '1991-01-10'
year92 = '1992-01-01'
year93= '1993-01-01'
# creating bins for each year to plot ----takes up so much time
years91_92 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= start_date) & (plane_1991_2021['DATE'] < year92)])
years92_93 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year_92) & (plane_1991_2021['DATE'] < year93)])
year94 =  "1994-01-01"
years93_94 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year93) & (plane_1991_2021['DATE'] < year94)])


year95 = "1995-01-01"
year96 = "1996-01-01"
year97 = "1997-01-01"
year98 = "1998-01-01"
year99 = "1999-01-01"
year00 = "2000-01-01"
years94_95 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year94) & (plane_1991_2021['DATE'] < year95)])
years95_96 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year95) & (plane_1991_2021['DATE'] < year96)])
years96_97 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year96) & (plane_1991_2021['DATE'] < year97)])
years97_98 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year97) & (plane_1991_2021['DATE'] < year98)])
years98_99 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year98) & (plane_1991_2021['DATE'] < year99)])
years99_00 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year99) & (plane_1991_2021['DATE'] < year00)])
year01 = "2001-01-01"
year02 = "2002-01-01"
year03 = "2003-01-01"
year04 = "2004-01-01"
year05 = "2005-01-01"
year06 = "2006-01-01"
year07 = "2007-01-01"
year08 = "2008-01-01"
year09 = "2009-01-01"
year10 = "2010-01-01"
year11 = "2011-01-01"
year12 = "2012-01-01"
year13 = "2013-01-01"
year14 = "2014-01-01"
year15 = "2015-01-01"
year16 = "2016-01-01"
year17 = "2017-01-01"
year18 = "2018-01-01"
year19 = "2019-01-01"
year20 = "2020-01-01"
year21 = "2021-01-01"



years00_01 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year00) & (plane_1991_2021['DATE'] < year01)])
years01_02 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year01) & (plane_1991_2021['DATE'] < year02)])
years02_03 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year02) & (plane_1991_2021['DATE'] < year03)])
years03_04 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year03) & (plane_1991_2021['DATE'] < year04)])
years04_05 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year04) & (plane_1991_2021['DATE'] < year05)])
years05_06 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year05) & (plane_1991_2021['DATE'] < year06)])
years07_08 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year06) & (plane_1991_2021['DATE'] < year07)])
years08_09 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year07) & (plane_1991_2021['DATE'] < year08)])
years09_10 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year08) & (plane_1991_2021['DATE'] < year09)])
years10_11 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year09) & (plane_1991_2021['DATE'] < year10)])

years11_12 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year09) & (plane_1991_2021['DATE'] < year11)])
years12_13 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year09) & (plane_1991_2021['DATE'] < year12)])
years13_14 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year09) & (plane_1991_2021['DATE'] < year13)])
years14_15 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year09) & (plane_1991_2021['DATE'] < year14)])
years15_16 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year09) & (plane_1991_2021['DATE'] < year15)])
years16_17 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year09) & (plane_1991_2021['DATE'] < year10)])
years17_18 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year09) & (plane_1991_2021['DATE'] < year10)])
years18_19 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year09) & (plane_1991_2021['DATE'] < year10)])
years19_20 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year09) & (plane_1991_2021['DATE'] < year10)])
years20_21 = len(plane_1991_2021[(plane_1991_2021['DATE'] >= year09) & (plane_1991_2021['DATE'] < year10)])



import matplotlib.pyplot as plt
from datetime import datetime, timedelta
plt.style.use('seaborn')

dates = ["1991","1992","1993","1994","1995",'1996',"1997","1998","1999"]

y = [years91_92, years92_93, years93_94, years94_95, years95_96, years96_97, years97_98, years98_99 ,years99_00]

plt.plot_date(dates, y)
plt.tight_layout()
plt.show()

plt.plot_date(dates, y, linestyle ='solid')

In [106]:
plane_1991_2021["DATE"]

3660   1991-01-10
3661   1991-01-30
3662   1991-01-31
3663   1991-02-01
3664   1991-02-05
          ...
4970   2019-11-24
4971   2019-12-27
4972   2020-01-02
4973   2020-01-08
4974   2020-02-05
Name: DATE, Length: 1315, dtype: datetime64[ns]

In [ ]:
# 2.  What vehicles are you most likely to survive if there is one fatality or more?
# find the number of plane crashes with one fatality or more
fatlaities_abovezero = non_military[non_military['TOTAL_FATALITIES'] >= 1 ]
fatlaities_abovezero

In [ ]:
# lets look at the chance of surviving a plane crash with 1 or more fatality

mean_death = fatlaities_abovezero["TOTAL_FATALITIES"].mean()
mean_total_onboard = fatlaities_abovezero["TOTAL_ONBOARD"].mean()
mean_death, mean_total_onboard

percent_survive= round((100*(1 -mean_death/mean_total_onboard)), 1)

# {:.0%}----format for % ?
print(f"The average number of people on commerical planes was  {round(mean_total_onboard)} \n and the average number of fatalities was: {round(mean_death)}.")
print(f" Therefore the chance of survival on plane crashes with 1 more more fatalities is {percent_survive} percent")