In [5]:
# Starting plane crash jupyter notebook and 
# import dependences

import pandas as pd
import numpy as np
import csv

In [17]:
# start with reading csv file
plane =  pd.read_csv("Airplane_Crashes.csv")

plane

,DATE,TIME,LOCATION,OPERATOR,FLIGHT#,ROUTE,AIRCRAFT_TYPE,AIRCRAFT_REG,CN_LN,TOTAL_ONBOARD,PASSENGER_ONBOARD,CREW_ONBOARD,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES,GROUND_CASUALTIES,SUMMARY_OF_EVENTS
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army Air Forces,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",Unknown,NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,07/12/1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4970,11/24/2019,NaN,"Goma, Democratic Republic of Congo",Busy Bee Congo,NaN,NaN,Dornier 228-201,9S-GNH,NaN,19.0,17.0,2.0,19.0,17.0,2.0,10.0,The passenger plane crashed about a minute aft...
4971,12/27/2019,07:22,"Almaty, Kazakhstan",Bek Air,Z92100,Almaty - Nursultan Nazabavev,Fokker 100,UP-F100,11496,98.0,95.0,3.0,13.0,NaN,NaN,7.0,"While taking off, the tail of the plane struck..."
4972,01/02/2020,NaN,"Geneina, Sudan",Military - Sudanese Air Force,NaN,NaN,Antonov An12-A,NaN,NaN,18.0,9.0,9.0,18.0,9.0,9.0,0.0,The aircraft crashed shortly after taking off ...
4973,01/08/2020,NaN,"Near Shahriah, Iran",Ukraine International Airlines,PS752,Tehran - Kiev,Boeing 737-8KV WL,UR-PSR,38124/5977,176.0,167.0,9.0,176.0,167.0,9.0,0.0,The plane took off from Tehran International A...
4974,02/05/2020,NaN,"Istanbul, Turkey",Pegasus Airlines,PC2193,Izmir - Istanbul,Boeing 737-86J,TC-IZK,37742,183.0,177.0,6.0,183.0,177.0,6.0,0.0,While landing duriing high winds and heavey ra...

In [37]:
has_passenger = plane[plane["PASSENGER_ONBOARD"] > 0]
contain_date = plane[plane['DATE'].str.contains('1991')]

contain_date

,DATE,TIME,LOCATION,OPERATOR,FLIGHT#,ROUTE,AIRCRAFT_TYPE,AIRCRAFT_REG,CN_LN,TOTAL_ONBOARD,PASSENGER_ONBOARD,CREW_ONBOARD,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES,GROUND_CASUALTIES,SUMMARY_OF_EVENTS
3660,01/10/1991,18:00,"Near Paramo Mucuti, Venezuela",Military - Venezuelan Navy,NaN,Caracas - Merida,CASA 212 Aviocar 200,ARV-0209,264,22.0,19.0,3.0,21.0,18.0,3.0,0.0,"Crashed into Paramo Mucuti Mountain, 35 miles ..."
3661,01/30/1991,13:00,"Jalaludin, Indonesia",Merpati Nusantara Airlines,NaN,Manado - Gorontalo,CASA 212 Aviocar 200,PK-NCY,258/78N,21.0,18.0,3.0,1.0,1.0,0.0,0.0,The plane made a forced landing during poor we...
3662,01/31/1991,NaN,"Near Ras Al Khafji, Saudi Arabia",Military - U.S. Air Force,NaN,NaN,Lockheed AC-130H Hercules,69-6567,4341,14.0,0.0,14.0,14.0,0.0,14.0,0.0,Shot down by a surface-to-air missile during o...
3663,02/01/1991,18:07,"LAX, Los Angeles, California",USAir / Skywest Airlines,1493/5569,Columbus - Los Angeles \ Los Angeles - Fresno,Boeing B-737-300 / Swearingen SA-227AC,N388US/N683AV,23310/1145 / AC-683,101.0,93.0,8.0,34.0,30.0,4.0,0.0,The Skywest Metroliner was told to taxi into p...
3664,02/05/1991,12:51,"Near Nea Ankhialos, Greece",Military - Hellenic Air Force,NaN,Elefsis AB - Volos-Néa Anchialos,Lockheed C-130H,748,4724,63.0,59.0,4.0,63.0,59.0,4.0,0.0,The aircraft flew into the summit of Mt. .Othr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3724,11/26/1991,05:02,"Near Bugulma, Russia",Tartarstan Airlines,NaN,Nizhnevartovsk - Bugulma,Antonov AN-24,CCCP-47823,17307204,41.0,37.0,4.0,41.0,37.0,4.0,0.0,"While on approach to Bugulma, the plane yawed ..."
3725,11/29/1991,08:15,"Guaratingueta AB, Brazil",Military - Força Aerea Brasileira,NaN,Brasilla - Guarantinguerta,Embraer C-95C Bandeirante,FAB2333,110473,16.0,13.0,3.0,16.0,13.0,3.0,0.0,Flew into the side of a hill towards the end o...
3726,12/22/1991,11:37,"Heidelberg, Germany",Classic Wings,NaN,Frankfurt - Frankfurt,Douglas DC-3A,D-CCCC,7353,30.0,27.0,3.0,27.0,24.0,3.0,0.0,"The sightseeing tour struck a hill at 2,000 ft..."
3727,12/27/1991,08:51,"Stockholm, Sweden",Scandinavian Airlines (SAS),751,Stockholm-Copenhagen-Warsaw,McDonnell Douglas MD-81,OY-KHO,53003/1844,129.0,123.0,6.0,0.0,0.0,0.0,0.0,"The aircraft reached an altitude of 3,000 feet..."
3728,12/29/1991,15:05,"Wanli, Taiwan",China Airlines (Taiwan),358,Taipei - Anchorage,Boeing B-747-2R7F,B-198,22390,5.0,0.0,5.0,5.0,0.0,5.0,0.0,The cargo plane crashed on takeoff after losi...

In [28]:
plane.dtypes

DATE                     object
TIME                     object
LOCATION                 object
OPERATOR                 object
FLIGHT#                  object
ROUTE                    object
AIRCRAFT_TYPE            object
AIRCRAFT_REG             object
CN_LN                    object
TOTAL_ONBOARD           float64
PASSENGER_ONBOARD       float64
CREW_ONBOARD            float64
TOTAL_FATALITIES        float64
PASSENGER_FATALITIES    float64
CREW_FATALITIES         float64
GROUND_CASUALTIES       float64
SUMMARY_OF_EVENTS        object
dtype: object

In [41]:
# need to drop dates before 1991!

contain_values = plane[plane['DATE'].str.contains('1991')]

start_date = '01/10/1991'
# end_date = '02/05/2020' Don't need an end date
plane_1991_2021 = plane.loc[(plane['DATE'] >= start_date)]

plane_1991_2021

,DATE,TIME,LOCATION,OPERATOR,FLIGHT#,ROUTE,AIRCRAFT_TYPE,AIRCRAFT_REG,CN_LN,TOTAL_ONBOARD,PASSENGER_ONBOARD,CREW_ONBOARD,TOTAL_FATALITIES,PASSENGER_FATALITIES,CREW_FATALITIES,GROUND_CASUALTIES,SUMMARY_OF_EVENTS
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army Air Forces,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,1.0,1.0,1.0,0.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,09/07/1909,NaN,"Juvisy-sur-Orge, France",Unknown,NaN,Air show,Wright Byplane,SC1,NaN,1.0,0.0,1.0,1.0,0.0,0.0,0.0,Eugene Lefebvre was the first pilot to ever be...
2,07/12/1912,06:30,"Atlantic City, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,0.0,5.0,5.0,0.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
3,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,NaN,NaN,Curtiss seaplane,NaN,NaN,1.0,0.0,1.0,1.0,0.0,1.0,0.0,The first fatal airplane accident in Canada oc...
4,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,NaN,NaN,14.0,NaN,NaN,0.0,The airship flew into a thunderstorm and encou...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4968,09/11/2019,NaN,"Toledo, Ohio",Private,NaN,NaN,Convair CV-440F,N24DR,NaN,2.0,0.0,2.0,2.0,0.0,2.0,0.0,The Cargo plane was preparing to land at Toled...
4969,10/04/2019,NaN,"Lviv, Ukraine",Ukraine Air Alliance,NaN,Spain – Turkey,Antonov An-12BK,UR-CAH,NaN,8.0,1.0,7.0,5.0,1.0,4.0,0.0,"The chartered cargo plane, planning to stop fo..."
4970,11/24/2019,NaN,"Goma, Democratic Republic of Congo",Busy Bee Congo,NaN,NaN,Dornier 228-201,9S-GNH,NaN,19.0,17.0,2.0,19.0,17.0,2.0,10.0,The passenger plane crashed about a minute aft...
4971,12/27/2019,07:22,"Almaty, Kazakhstan",Bek Air,Z92100,Almaty - Nursultan Nazabavev,Fokker 100,UP-F100,11496,98.0,95.0,3.0,13.0,NaN,NaN,7.0,"While taking off, the tail of the plane struck..."
4974,02/05/2020,NaN,"Istanbul, Turkey",Pegasus Airlines,PC2193,Izmir - Istanbul,Boeing 737-86J,TC-IZK,37742,183.0,177.0,6.0,183.0,177.0,6.0,0.0,While landing duriing high winds and heavey ra...